@page "/pizzas-toppings"

<h1>Our Latest Pizzas and Topping</h1>

<Pizzas PizzaName="Hawaiian" PizzaDescription="The one with pineapple" />

<PizzaTopping PizzaTopping="@(new Topping() { Name = "Chilli Sauce", Ingredients = "Three kinds of chilli." })" />