@page "/specialoffers"

<h1>Special Offers</h1>

<BlazingPizza.Pages.CascadingValue Name="DealName" Value="Throwback Thursday">
    <!-- Any descendant component rendered here will be able to access the cascading value. -->
</BlazingPizza.Pages.CascadingValue>
